<h1>Does the doggy sweater pattern come in different sizes?</h1>

<form method="POST" action="/crochet-patterns">

  <select name="user_id"> 
    <% @users.each do |user|%>
      <option value="<user.id>"> <%= user.name %> </option>
    <% end %>
  </select>
 <input type="text" name="title">
  <textarea name="body"></textarea>
  <input type="submit">
</form>