
<form class="header" method="post" action="/logout">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <a class="blue" href="/crochet-patterns">Home</a>&nbsp;&nbsp;<button class="link-button" type="delete" formaction="logout">Logout</button>
</form>
<hr>
<br>

<h1>Enter new pattern information</h1>
<form method="post" action="/crochet-patterns">
  <div class="form-container">
    <label for="title">Title: </label>
    <input name="title" /> 
    <br />
    <br />
    <label for="size">Size: </label>
    <select name="size"> 
      <% @@sizes.each do |size|%>
        <option value="<%= size %>"> <%= size %> </option>
      <% end %>
    </select>
    <br />
    <br />
    <label for="body">Description: </label>
    <textarea name="body"></textarea>
    <br />
    <br />
    <label for="link">Pattern Link: </label>
    <input name="link" />
    <br />
    <br />
    <button class="button" type="submit">Submit</button>
  </div>
</form>