<h1 class="center-text">Login to Crochet Patterns</h1>
<br>
<br>

<form method="post" action="/login">
    <div class="login-container">
        <p>Username: <input type="text" name="name" /></p>
        <p>Password: <input type="password" name="password" /></p>
        <button class="button" type="submit" id="submit">Login</button>
        <br>
        <br>

        <a class="blue" href="/signup">Sign Up</a>
    </div>
</form>